body {
	background: #111 url('./img/bg.jpg');
	margin: 0px;
	padding: 0px;
	text-align: center;
	font: 14px 'Muli', Tahoma, Arial, sans-serif;
	letter-spacing: 1px;
	color: #EEE;
}

div#container{
	width: 100%;
	height: 100%;
	padding-top: 40px;
	overflow: scroll;
}

input, select, option, textarea {
	font-size: 14px;
	font-family: 'Muli';
	background: #060606 url('./img/bg.jpg') top left repeat;
	border: 1px solid #323232;
	color: #fff;
	letter-spacing: 0.1em;
	height: 25px;
	padding: 5px;
	margin: 5px;
	outline: none;
	cursor: pointer;
}

select{
	background: #000000;
}
input {
	width: 220px
}
.submit {
	width: 120px;
	float: right;
	margin-right: 15px;
	height: 25px;
	padding: 0 10px;
	background: #2E3D72;
}
.submit:hover {
	background: #4E4E88;
}
input:-webkit-autofill {
	background: #060606 url('./img/bg.jpg') top left repeat;
	color: #fff;
}
#search{
	background: url('./img/search_bg.png') top right no-repeat;
	height:33px;
	font-size: 14px;
	padding-right: 30px;
}
#topbar{
	background: url('./img/topbarbg.jpg') repeat-x #010101;
	width: 100%;
	position: fixed !important;
	font-size: 14px;
	height: 31px;
	text-align: left;
	border-bottom: 1px solid #1c1c1c;
	top: 0;
	z-index: 9999;
}
#loggedname {
	color: #EEEEEE;
}
#loggedname:hover {
	color: #5555FF;
}
#topBarLeft {
	float: left;
	width: 300px;
}
#topBarRight {
	float: right;
	width: 300px;
	text-align: right;
}
#topBarLeft a{
	margin: 0 15px;
}
#topbar a{
	margin-top:2px;
}
#logo{
	height: 60px;
	margin-top: 2px;
}
#header{
	height: 60px;
	width: 960px;
	margin: 0px auto;
}
#left{
	float: left;
	width: 479px;
}
#right{
	float: right;
	width: 479px;
}
a:link, a:visited, a:active{
	color: #DDD;
	text-decoration: none;
}
a:hover{
	color: #5555FF;
}
ul.dx_menu, ul.dx_menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.dx_menu {
	display: none;
	top: 31px;
	position: absolute;
	right: 0;
	border-right: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
	border-bottom: 1px solid #1c1c1c;
	z-index: 9999;
}
.dx_menu li {
	background: #000000;
	border-top: 1px solid #1c1c1c;
	width: 180px;
}
.dx_menu li:hover {
	background: #060606;
	border-top: 1px solid #1c1c1c
}
.dx_menu li a {
	padding: 5px 10px;
	display: block;
	font-size: 12px;
}
#newpost{
	text-align: justify;
	width: 780px;
	margin: 0px auto;
	margin-top: 35px;
}
.sidebar{
	float: left;
	width: 82px;
}
.inner{
	float: right;
	width: 696px;
}
.textarea{
	width: 674px;
	background-image: url('./img/arrow.png');
	background-position: left;
	background-repeat: no-repeat;
	background-position-y: 20;
}
textarea{
	resize: none;
	overflow: hidden;
	width: 648px;
	height: 100px;
	margin: 0px;
	margin-left: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
  	-moz-border-radius: 5px; /* firefox */
  	-webkit-border-radius: 5px; /* safari, chrome */
}
h2{
	text-align: right;
	font-weight: 300;
	margin: 0;
	color: #5555FF;
	margin-right: 35px;
}
#lastposts{
	padding-top: 25px;
	text-align: justify;
	width: 780px;
	margin: 0px auto;
	margin-top: 40px;
}

#lastposts h2{
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
}

.divFooter{
	clear: both;
	text-align: right;
	padding: 0 10px;
	margin: 0px auto;
	width: 760px;
}
#div{
	border-top: 1px solid #151515;
	background-color: #666;
	height: 1px;
	border-bottom: 1px solid #151515
}
#lastpostsContent{
	padding: 20px 0px 10px 0px;
}
.post{
	width: 648px;
	min-height: 100px;
	margin: 0px;
	padding: 5px 15px;
	margin-left: 11px;
	border: 1px solid #DDD;
	border-radius: 5px;
  	-moz-border-radius: 5px; /* firefox */
  	-webkit-border-radius: 5px; /* safari, chrome */
}
.post p{
	margin: 0;
	text-align: justify;
}
.date{
	font-size: 14px;
	text-align: right;
	padding-bottom: 3px;
	color: #666;
}
.date span{
	font-size: 10px;
	color: #AAA;
}
.postBlock{
	margin: 0px auto;
	margin-bottom: 30px;
	width: 780px;	
}
.commentBlock{
	margin: 0px auto;
	margin-top: 30px;
	width: 670px;
	margin-bottom: 30px;	
}
.commentBlock .inner{
	width: 580px;
}
.commentBlock .post{
	width: 545px;
}
.commentBlock .textarea{
	width: 579px;
}
.postBlock h3{
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
	margin-top: 30px;
	color: #55F;
}
.owner{
	color: #55F;
}
#signupContainer{
	width: 100%;
	padding-top: 30px;
	text-align: center;
}
#signupContainer h2{
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
	margin-top: 30px;
	color: #55F;
}
#signupContainer #div{
	width: 960px;
	margin: 0px auto;
}
#signupContainer form{
	width: 600px;
	margin: 0px auto;
	text-align: center;
}
.submitPhoto{
	width: 120px;
	margin-right: 15px;
	height: 25px;
	padding: 0 10px;
	background: #2E3D72;
}
.submitPhoto:hover {
	background: #4E4E88;
}
#upfile{
	font-size: 12px;
	width: 300px;
	height: 30px;
}
#newNotif
{
	position: fixed;
	z-index: 9999;
	bottom: 20px;
	margin-left: 20px;
	width: 270px;
	min-height: 50px;
	border: 1px solid #777;
	background-color: #001;
	display: none;
	font-size: 16px;
	text-align: justify;
	padding: 5px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#left h1, #left h3{
	margin: 0px auto;
	margin-left: 100px;
	float: none;
	text-align: center;
}
.div{
	border-top: 1px solid #151515;
	background-color: #666;
	height: 1px;
	border-bottom: 1px solid #151515;
	width: 960px;
	margin: 0px auto;
}
#userInfo ul{
	text-align: justify;
	list-style-type: none;
	padding: 0px;
	margin: 5px;
	float: left;
}
.doorBell{
	width: 200px;
	margin-right: 15px;
	height: 25px;
	padding: 0 10px;
	background: #2E3D72;
	float: right;
}
.doorBell:hover{
	background: #4E4E88;
}
#userInfo{
	width: 800px;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	padding: 10px 0px;
	clear: both;
}
#userInfoRight{
	float: right;
	width: 710px;
}
#userInfoLeft{
	float: left;
	width: 89px;
}
#buttons{
	float: right;
	width: 210px;
}
#content{
	text-align: justify;
	width: 780px;
	margin: 0px auto;
}
#notifTitle{
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;	
}
.notifTitle{
	text-transform: uppercase;
	font-size: 32px;
	text-align: center;	
}
li span{
	font-size: 0.9em;
}
.post a{
	text-decoration: underline;
}
#publish{
	float: right;
}
#tooltip{
	float: left;
	text-align: left;
	font-size: 12px;
	border: 1px solid #333;
	background: #001;
	padding: 10px;
	margin: 10px 0px 0px 30px;	
	width: 300px;
	position: absolute;
	z-index: 8888;
	display: none;
	color: #fff;
}
#tooltip strong{
	font-size: 14px;
}
#tooltip span{
	color: #F43;
}
option{
	background-color: black;
}
#ringTheBell{
	position: fixed;
	left: -60%;
	top: 20%;
	width: 40%;
	height: 60%;
	border: 1px solid white;
	background-color: #010101;
	z-index: 8888;
	border-radius: 10px;
	color: white;
}
#ringTheBell h3{
	margin: 0px 0px 20px 0px;
	color: #55F;
}
.closePopup{
	text-align: right;
	padding: 0px;
	margin: 5px 0px 0px 0px;
	padding-right: 10px;
	text-decoration: none;
}
.closePopup a:hover{
	color: red;
}
#dark{
	background-color: black;
	z-index: 8887;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: none;
	opacity:0.9;
	filter:alpha(opacity=90);
}
#ringTheBell .submit{
	float: none;
	margin: 0px auto;
	margin-top: 10px;
}
#ringTheBell #warning{
	text-align: justify;
	padding: 15px;
}
#ringTheBell #warning h3{
	color: #800;
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#ringTheBell #warning h3#ok{
	color: #080;
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#sendMessage{
	position: fixed;
	right: -60%;
	top: 20%;
	width: 40%;
	height: 60%;
	border: 1px solid white;
	background-color: #010101;
	z-index: 8888;
	border-radius: 10px;
}
#sendMessage h3{
	margin: 0px 0px 20px 0px;
	color: #55F;
}

#sendMessage .submit{
	float: none;
	margin: 0px auto;
	margin-top: 10px;
}
#sendMessage #warning{
	text-align: justify;
	padding: 15px;
}
#sendMessage #warning h3{
	color: #800;
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#sendMessage #warning h3#ok{
	color: #080;
	text-align: center;
	letter-spacing: 2px;
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.notifContent{
	padding: 0;
	margin: 0;
}
.notifContent a{
	text-decoration: underline;
}
.notifContent span{
	color: #AAF;
	font-size: 16px;
}

.owner a{
	text-decoration: none;
	color: #89F;
}

.owner a:hover{
	text-decoration: none;
	color: #55F;
}
#edit{
	width: 100%; 
	padding: 10px 60px; 
	text-align: left; 
	background-color: #001;
	position: fixed;
	margin-top: 32px;
	z-index: 8888;
	border-bottom: 1px solid #222;
}
#logo{
	border: 0px;
}
img{
	border: 1px solid #AAA;
}
.doorbell{
	cursor: pointer;
}
#morePost{
	text-align: center;
	padding-bottom: 20px;
}