.navbar-brand .logo {
	width: 60%;
	margin: -15px;
	margin-left: 5px;
}

.navbar-header {
	width: 35%;
}

.navbar > .container .navbar-brand {
	width: 77%;
}

.socialdoor-navbar {
	background: #202321; /* Old browsers */
	background: -moz-linear-gradient(top, #202321 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202321), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #202321 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #202321 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #202321 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #202321 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202321', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #222;
}

.btn-socialdoor {
	background-color: #4e4e88;
	border-color: #333;
	color: #EEEEEE;
}

.btn-socialdoor:hover {
	background-color: #4e4e88;
	border-color: #C2C2C2;
	color: #EEEEEE;
}

.jumbotron {
	background: #4E4E88 url('../img/gradient.jpg') top center repeat-x;
	width: 100%;
	text-align: left;
	color: #DDD;
	background-size: 100px 100%;
}

.jumbotron h1 {
	font-size: 45px;
}

.jumbotron-image {
	width: 100%;
	margin-top: 5px;
}

body {
	color: #EEE;
	background-color: #030303;
}

.col-lg-4 h2 {
	color: #4e4e88;
}

a {
	color: #4e4e88;
}

a:hover {
	color: #4e4e88;
}

#footer {
	text-align: center;
}

#footer h2 {
	font-size: 38px;
}

.loop-container {
	margin-top: 60px;
}

.posts-row {
	margin-bottom: 10px;
}

.socialdoor-well {
	color: #222;
	margin-bottom: 0px;
}

.post-footer {
	font-size: 14px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #4E4E88;
}

.center-text {
	text-align: center; 
}

.home-splash {
	width: 30%;
}

.big-text {
	font-size: 65px;
}

.tt-dropdown-menu,
.gist {
  text-align: left;
}

p {
  margin: 0 0 10px 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  height: 30px;
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  width: 100%;
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #4E4E88;

}

.tt-suggestion p {
  margin-bottom: 0px;
  color: #000;
}

.tt-suggestion.tt-is-under-cursor p {
  color: #EEE;
}

.topbar-pic {
	width: 25px;
	border: 1px solid #999;
}

.dropdown-toggle:hover .topbar-pic, .open a .topbar-pic {
	border: 1px solid #FFF;
}

.clear {
clear: both;
}

.user-name-search {
	color: #111;
	font-size: 10px;
	padding-left: 2px;
}
