body {
	margin: 0;
	padding: 0;
	background: url('./img/bg.jpg') repeat;
	font-family: 'Muli', Verdana, Tahoma, Arial, sans-serif;
	letter-spacing: 1px;
	color: #ddd;
	text-align: center;
	text-shadow: 0.1em 0.1em #111;
}
#container {
	text-align: center;
	padding-top: 15%;
}
input, select, textarea {
	font-size: 14px;
	font-family: 'Muli';
	letter-spacing: 0.1em;
	background: #060606 url('./img/bg.jpg') top left repeat;
	border: 1px solid #323232;
	color: #fff;
	height: 25px;
	padding: 5px;
	margin: 5px;
	outline: none;
	cursor: pointer;
}
input {
	width: 220px
}
.submit {
	width: 80px;
	height: 25px;
	padding: 0 10px;
	background: #2E3D72;
}
.submit:hover {
	background: #4E4E88;
}
input:-webkit-autofill {
	background: #060606 url('./img/bg.jpg') top left repeat;
	color: #fff;
}
a:link, a:visited, a:active{
	text-decoration: none;
	font-size: 12px;
	color: #bbb;
}
a:hover{
	color: #fff;
}
h3{
	font-weight: 200;
}
h3 a:link,h3 a:active,h3 a:visited{
	font-size: 30px;
	font-weight: 600;
	color: #2E3D72;
}
h3 a:hover{
	color: #4E4E88;
}
#signup{
	margin-top: 100px;
}
#signupForm
{
	text-align: center;
	width: 900px;
	margin: 0px auto;
}
#right
{
	float: right;
	width: 500px;
}
#left
{
	float: left;
	width: 400px;
	text-align: left;
	background: url('./img/div_vert.png') no-repeat right;
}
#left p{
	padding: 0px 40px 20px 20px;
}
#signupForm select
{
	height: 30px;
	background: black;
}
#signupForm form
{
	text-align: justify;
}
#signupSubmit
{
	float: right;
	height: 28px;
	width: 150px;
	font-size: 18px;
}
table, tr, td{
	margin: 0px;
	padding: 0px;
}
option{
	background-color: black;
}
label.error{
	display: block;
	z-index: 9999;
	font-size: 14px;
	color: #FF2222;
	float: right;
	margin-left: 240px;
	padding-top: 15px;
	position: absolute;
}
input.error{
	float: left;
}
strong, h3{
	color: #BBF;
}
